doctype html
html
  head
    title Dance Acadamey 
    block scripts
    block style 

  body
    nav#navbar 
       ul 
            div#logo
                img(src="/static/dance 3.png", alt="logo")
                | RDA
            li #[a(href="/") Home ]
            li #[a(href="/") Dashboard  ]
            li #[a(href="/") About ]
            li #[a(href="/contact") Contact Us ]
            li #[a(href="/") Services  ]
    block content
    footer#foot
      | Copyright 2023 danceacademy.com | All rights reserved 